<div class="jumbotron about-welcome" id="claim-panel-top">
  <h2>World Wide Importers</h2>
  <strong>Welcome!</strong><br>
  please spare us a minute to tell you why we are considered the best!
</div>

<div class="row" id="claim-panel-1">
  <div class="col-2 offset-2">
    <div class="dia right">
      <img src="/assets/images/history.png" class="img-fluid img-thumbnail">
      <p class="caption">Reputable history!</p>
    </div>
  </div>
  <div class="col-4">
    <div class="about-panel">
      <h4>We have a long, reputable history</h4>
      <p>Lorem ipsum dolor sit amet, quando lobortis ad sit, est ne doming quaeque indoctum, ius ei epicuri eloquentiam accommodare. Ne duo prima sapientem persequeris. Quo ex timeam euripidis, vivendum insolens id usu, ferri veritus similique sea et. No sonet consulatu his, mundi epicurei ut vel, ius brute iisque ex.</p>
      <p>An veniam intellegat efficiantur eos, vim velit audire salutandi eu, primis.</p>
    </div>
  </div>
</div>

<div class="row" id="claim-panel-2">
  <div class="col-4 offset-4">
    <div class="about-panel">
      <h4>We source only the best</h4>
      <p>Lorem ipsum dolor sit amet, et sit vidit singulis, mea utinam laoreet voluptatibus te, ex modus theophrastus eos. Adhuc percipit per ad, est an affert option, wisi nonumes forensibus eum cu. No dolor necessitatibus cum. Eu qui fabulas fastidii, pri quodsi officiis in, usu ad nullam imperdiet.</p>
      <p>In vis wisi iisque maiestatis, ius no tota copiosae. Probo omittam noluisse cu.</p>
    </div>
  </div>
  <div class="col-2">
      <div class="dia left">
        <img src="/assets/images/best.png" class="img-fluid img-thumbnail">
        <p class="caption">Only the best!</p>
      </div>
    </div>
</div>

<div class="row" id="claim-panel-3">
  <div class="col-2 offset-2">
    <div class="dia right">
      <img src="/assets/images/help.png" class="img-fluid img-thumbnail">
      <p class="caption">Here to help!</p>
    </div>
  </div>
  <div class="col-4">
    <div class="about-panel">
      <h4>We're here to help</h4>
      <p>Lorem ipsum dolor sit amet, quando lobortis ad sit, est ne doming quaeque indoctum, ius ei epicuri eloquentiam accommodare. Ne duo prima sapientem persequeris. Quo ex timeam euripidis, vivendum insolens id usu, ferri veritus similique sea et. No sonet consulatu his, mundi epicurei ut vel, ius brute iisque ex.</p>
      <p>An veniam intellegat efficiantur eos, vim velit audire salutandi eu, primis.</p>
    </div>
  </div>
</div>

<div class="row last-row" id="claim-panel-4">
  <div class="col-4 offset-4">
    <div class="about-panel">
      <h4>We reach you everywhere</h4>
      <p>Lorem ipsum dolor sit amet, et sit vidit singulis, mea utinam laoreet voluptatibus te, ex modus theophrastus eos. Adhuc percipit per ad, est an affert option, wisi nonumes forensibus eum cu. No dolor necessitatibus cum. Eu qui fabulas fastidii, pri quodsi officiis in, usu ad nullam imperdiet.</p>
      <p>In vis wisi iisque maiestatis, ius no tota copiosae. Probo omittam noluisse cu.</p>
    </div>
  </div>
  <div class="col-2">
    <div class="dia left">
      <img src="/assets/images/everywhere.png" class="img-fluid img-thumbnail">
      <p class="caption">Reach everywehere!</p>
    </div>
  </div>
</div>
